#main{  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: margin-left 0.5s;
  background-image: url("./../Others/annie-spratt-Zxz01pNWGlE-unsplash.jpg");
  min-height: 100vh;
  height: auto;/*89.5 */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 animation: fadeIn 0.5s linear forwards; /* Fade-in animation */
 opacity: 0;
}
#Nav_bar{
  background-color:rgba(255, 255, 255, 0);/* #008080 */
 -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /*Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+*/
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc; 
}
.nav-head{
     display: inline-block;
      position: relative; 
      color: #ffffff;
}
.nav-head::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:  #00eeff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}
.nav-head:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
   #Home_background{
    height: 89.5vh;
    margin: 0;
    padding: 0;
  
  } 
 
  #centered-container {
    display: flex;
   justify-content: center;
    align-items: center;
  
  }

  #centered-text {
    text-align: center;
  }

  @media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    #centered-container {
      padding: 10px;
    }
    .nav-head{
      color: #333;
    }
  }
  #home_name{
    font-size: 70px;
  font-weight: 600;
  background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: 'Roboto', sans-serif;
  color: #b393d3;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #957dad,
               1px 2px 0px #957dad,
               1px 3px 0px #957dad,
               1px 4px 0px #957dad,
               1px 5px 0px #957dad,
               1px 6px 0px #957dad,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);

    /* font-weight: 700;
    text-align: center;
    font-size: 70px;
    background: linear-gradient(90deg, #946a6a, #00f5f9, #8f8181);
    letter-spacing: 3px;
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;    
    background-size: 80%; */
  }
  #Text_home {
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #ff0a0a, #0011ff, #8f8181);
    letter-spacing: 3px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }
 #container_EDU{
  height: 83.1vh;
  width: 100%;
  background-color: gray;
 }
 .edu_Para{
  font-size: 30px;
 }
 .edu_div{
  border-radius: 2px;
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  19px 19px 38px #a8a8a8,
             -19px -19px 38px #eae8e8;
 }
/* #edu_BG{
  background-image: url("./../Others/graduatingbackground.jpg");
    height: 89.5vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    animation: fadeIn 0.5s ease-in-out forwards; /* Fade-in animation */
    /*opacity: 0;
} */

html{
  scroll-behavior: smooth;
}

.experience-container {
  text-align: center;
}

.experience-header {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
}

.experience-entry {
  animation: fadeIn 0.5s linear forwards; /* Fade-in animation */
  opacity: 0;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}
.experience-entry:hover {
  transform: scale(1.01);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.experience-divider {
  margin: 3rem 0;
  border: 0;
  border-top: 2px solid #3498db;
}

.Skills_Main{
  animation: fadeIn 0.5s linear forwards; /* Fade-in animation */
}
#Card {
  border: none;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0); /* Optionally, remove border-radius if needed */
}
#Card :hover.Title_card {
  text-decoration: underline;
}
#work_text{
  text-align: justify;
}

